* {
  font-size: 15px;
}
.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--first {
  justify-content: right;
}
.countries--second {
  column-gap: 25px;
}
.countries--third {
  flex-direction: column;
  justify-content: flex-end;
}
.countries--fourth {
  flex-direction: column;
  row-gap: 30px;
}
